* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font: inherit;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  background-color: rgb(183, 201, 183);
  justify-content: center;
}
main {
  width: 80%;
  display: grid;
  grid-template-columns: 0.75fr 1.5fr 0.75fr;
  background-color: white;
  border-radius: 3vh;
}

.menu-section {
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 95%;
  background-color: rgb(209, 199, 199);
  border-radius: 3vh;
}
.menu-container {
  height: 95%;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
}
.title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
}

input[name="searchInput"] {
  margin: 1rem 0;
  width: 100%;
  border-radius: 3vh;
  border-color: transparent;
}

.subtitle {
  font-weight: 600;
  font-size: 0.8rem;
}
.tasks {
  padding: 1rem 0;
}

li {
  padding: 0.5rem 0;
}

i{ 
  margin-right: 1rem; 
}

.transparent{
  background-color: transparent;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 3vh;
}

.transparent:hover {
  border: 1rem;
  background-color: rgb(151, 128, 128);
}

.title-container {
  display: flex;
}
.menu-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.tag-button {
  margin: 0.5rem 0;
  width: auto;
  background-color: rgb(161, 144, 144);
  border-color: transparent;
  border-radius: 1vh;
}

.tag-button:hover{
  background-color: rgb(151, 128, 128);
}

.bb-container{
  margin-top: auto;
}
